body {
  background-color: #B8C394;
  margin: 0 auto;
  text-align: center;
  color: #2F383A;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li {
  list-style: none;
  display: inline-block;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #798665;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #95A677;
}